/* globals.css */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tw-shadow-color: #000;
  --animation-spin: spin 20s linear infinite;
  --animation-wiggle: wiggle 1s ease-in-out infinite;
  --animation-gradientxy: gradientxy 4s ease infinite;
  --animation-gradientneon: gradientneon 1s ease infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.animate-spin {
  animation: var(--animation-spin);
}

.animate-wiggle {
  animation: var(--animation-wiggle);
}

.animate-gradientxy {
  animation: var(--animation-gradientxy);
}

.animate-gradientneon {
  animation: var(--animation-gradientneon);
}

.animate-fade-left-slow {
  animation: fade-left 2s ease-in-out infinite;
}

.animate-fade-left-fast {
  animation: fade-left 900ms ease-in-out infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animate-bounce-150 {
  animation: bounce 1s infinite;
  animation-delay: 150ms;
}

.animate-bounce-200 {
  animation: bounce 1s infinite;
  animation-delay: 200ms;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes gradientxy {
  0%,
  100% {
    background-size: 400% 400%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

@keyframes gradientneon {
  0%,
  100% {
    background-size: 100% 100%;
    background-position: top center;
  }
  50% {
    background-size: 200% 200%;
    background-position: bottom center;
  }
  80% {
    background-size: 400% 400%;
    background-position: top center;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.text-shadow-sm {
  text-shadow: 0 1px 2px var(--tw-shadow-color);
}

.text-shadow {
  text-shadow: 0 2px 4px var(--tw-shadow-color);
}

.text-shadow-lg {
  text-shadow: 0 8px 16px var(--tw-shadow-color);
}

.shadow-cust {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}